.app-route-container {
  h1 {
    text-align: center;
    margin: 20px;
    color: #002bff;
    font-weight: bold;
  }

  nav {
    width: 30%;
    margin: 0 auto;

    a {
      color: #ff4900;
    }
  }
}