.page-container {
  .card-container {
    width: 80%;
    margin: 20px auto;

    h1 {
      margin: 15px auto;
      text-align: center;
      font-weight: bold;
    }

    .booking-form-container {
      display: inline-block;
      width: 100%;
      padding: 20px;

      .booking-form {
        display: inline-flex;
        flex-direction: column;
        width: calc(100% - 40px);

        .sub-label {
          font-size: 18px;
          margin: 15px 0px;
        }

        .mat-form-field {
          margin-bottom: 10px;
        }

        .mat-radio-group {
          margin: 10px 0px;

          .mat-radio-button {
            margin-left: 10px;
          }
        }

        .button-container {
          text-align: center;

          .submit-btn {
            width: 150px;
          }
        }
      }
    }
  }
}