<div class="reactive-form-container">
  <h2> Reactive Form Example</h2>

  <div class="user-form-container">
    <form [formGroup]="userForm" (ngSubmit)="submitForm()" class="user-form">

      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select Position</mat-label>
        <mat-select formControlName="position">
          <mat-option [value]="">Choose</mat-option>
          <mat-option *ngFor="let eachPosition of positionList" [value]="eachPosition.value">
            {{eachPosition.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div [ngClass]="{'mat-form-field-invalid': isSubmitted && userForm.controls['gender'].errors?.['required'] }">
        <mat-radio-group formControlName="gender">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="submit-button">
        <button mat-flat-button color="primary" type="submit">Submit</button>
      </div>
    </form>
  </div>

</div>