<div class="interface-example-container">

  <h1>Interface Usage Exmple</h1>

  <div class="user-table-container">
    <mat-table #table [dataSource]="dataSource">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> #ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container>

      <!-- Age Column -->
      <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.age || '-'}} </mat-cell>
      </ng-container>

      <!-- phNumber Column -->
      <ng-container matColumnDef="phNumber">
        <mat-header-cell *matHeaderCellDef> phNumber </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.phNumber || '-'}} </mat-cell>
      </ng-container>

      <!-- hobby Column -->
      <ng-container matColumnDef="hobby">
        <mat-header-cell *matHeaderCellDef> Hobby </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.hobby}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>