<mat-toolbar>
  <button mat-icon-button>
    <mat-icon (click)="drawer.toggle()">menu</mat-icon>
  </button>
  <span>Assignment Day-21</span>
  <button mat-button routerLink="member/register">
    Day11
  </button>
  <button mat-button routerLink="day12">
    Day12
  </button>
  <button mat-button routerLink="table">
    Table
  </button>
</mat-toolbar>
<mat-drawer-container class="nav-container">
  <mat-drawer mode="side" #drawer>
    <mat-list>
      <a mat-list-item routerLink="member/register"> Day11 </a>
      <a mat-list-item routerLink="day12"> Day12 </a>
      <a mat-list-item routerLink="table"> Table </a>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content class="content-container">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>