<div class="table-container">
  <h1>RxJS Assignment</h1>

  <div class="search-form-container">
    <mat-form-field class="search-form-field">
      <mat-label>Search with Title</mat-label>
      <input matInput placeholder="title" [formControl]="searchText">
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="postList" class="post-table" *ngIf="postList.length > 0">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> #ID </th>
      <td mat-cell *matCellDef="let post"> {{post.id}} </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let post"> {{post.title}} </td>
    </ng-container>

    <!-- Author Column -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Author </th>
      <td mat-cell *matCellDef="let post"> {{post.author}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <div class="empty-data-container" *ngIf="postList.length <= 0">
    <span class="content">There is no data to show...</span>
  </div>
</div>